
<div class="page">
  <div class="form">
<%= simple_form_for @planet do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :price, required: true %>
    <%= f.input :desc, required: true %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Add Planet",  class:"form-btn" %>
  </div>
<% end %>

  </div>
</div>
