<div class="show-page">
<%= simple_form_for(@booking, url: planet_bookings_path(@planet, @booking), data: {turbo: false}) do |f| %>
  <%= f.error_notification %>

<div id="booking" class="section" style="Background-image: url('<%= cl_image_path @planet.photo.key %>')">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-md-push-5">
          <div class="booking-cta">
            <h1><%= @planet.name %></h1>
            <p>  <%= @planet.desc%> </p>
            <h1>From £<%= @planet.price.truncate() %></h1>
          </div>
        </div>
        <div class="col-md-4 col-md-pull-7">
          <div class="booking-form">
            <form>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group" type="date" required="">
                    <span class="form-label">Check in</span>
                    <input name="start_date" class="form-control" type="date" required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group" >
                    <span class="form-label">Check out</span>
                    <input name="end_date" class="form-control" type="date" required>
                  </div>
                </div>
              <div class="form-btn-show">
                <%= f.button :submit, "Book", id: "submit-btn" %>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>
