<!DOCTYPE html>
<html>
  <head>
    <title>HeavenlyBodies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "Shared/navbar" %>
    <%= render "Shared/flashes" %>

    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
      <div class="container">
        <h1>Discover the <strong>Galayx </strong> as <strong>never before</strong>!</h1>
        <p>Have a great and fun weekend with friends and family and meet Aliens and Predator over the galaxy.</p>
        <a class="btn btn-flat" href="#">Apply now</a>
      </div>
    </div>

    <%= yield %>


  </body>
</html>
